/* [category][component][property][state]
eg: color button background default
or: color button text hover default
*/


.root {
    -icon-color: white;
    -media-control-bg: rgba(50, 50, 50, 1);
    -color-button-background-default: #222222;
    -color-button-background-hover: #333333;
    -color-button-background-pressed: rgb(136, 136, 136);
    -color-button-background-disabled: rgb(89, 89, 89);
    -effects-button-background-default: innershadow(two-pass-box, #3D3D3D, 0, 1, 0, 1);
    -bool-val: #575757;
}

.button {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

/* MP3 CONTROLS */
#control-wrapper {
    -fx-hgap: 20px;
    -fx-background-color: -media-control-bg;
    /* -fx-background-color: red; */
    -fx-background-radius: 999em;
    -fx-border-radius: 50px;
    /* -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 2, 25, 0, 0); */
}

.control-buttons {
    -fx-background-color: -color-button-background-default;
    -fx-background-radius: 999em;
    -fx-effect: -effects-button-background-default;
    -fx-cursor: hand;
}

.control-buttons:hover {
    -fx-background-color: -color-button-background-hover;
}

.control-buttons:pressed {
    -fx-background-color: -color-button-background-pressed;
}

.control-buttons:disabled {
    -fx-background-color: -color-button-background-disabled;
}

.control-icons {
    -fx-fill: -icon-color;
}

.volume-icon {
    -fx-fill: -icon-color;
}

.volume-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.active-loop .loop-path {
    -fx-fill: transparent;
    -fx-stroke-width: 1.5;
    -fx-stroke-line-cap: round;
    /* -fx-effect: box-shadow(two-pass-box, #00dc00, 0, 1, 0, 1); */
}
.loop-path {
    -fx-fill: transparent;
    -fx-stroke: #636363;
    -fx-stroke-width: 1.5;
    -fx-stroke-line-cap: round;
}

.loop-button {
    -fx-background-color: #171717;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}
.loop-button:hover {
    -fx-background-color: -color-button-background-hover;
}

.time-loop-wrapper {
    -fx-background-color: #222222;
    -fx-background-radius: 16;
    -fx-effect: innershadow(two-pass-box, #3D3D3D, 1, 0, 0, 1);
}

.vol-wrapper {
    -fx-background-color: #222222;
    -fx-background-radius: 999;
    -fx-effect: innershadow(two-pass-box, #3D3D3D, 1, 0, 0, 1);
}
.vol-wrapper .volButton {
    -fx-border-color: transparent;
}

/* SLIDER */
.slider .track {
    -fx-background-color: linear-gradient(to right, rgb(255, 94, 0) 1%, #1B1B1B 1%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em;
    /* 3 3 2 */
    -fx-padding: 0.2em;
    -fx-effect: innershadow(two-pass-box, #000000, -1, 0, 0, 1);
}

.slider .thumb {
    -fx-background-color: white;
    -fx-border-radius: 999em;
    -fx-border-insets: -2;
    -fx-cursor: hand;
    /* inward subtle shadow */
    /* -fx-effect: -effects-button-background-default; */
}

.slider .thumb:hover {
    -fx-background-color: -color-button-background-hover;
}

.slider .thumb:pressed {
    -fx-background-color: -color-button-background-pressed;
}

/* big album cover */
.album-cover {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-radius: 12;
    -fx-background-color: -media-control-bg;
    -fx-overflow: hidden;
}

.mainContainer {
    /* OTHER STYLES */
    -fx-background-radius: 12;
    -fx-background-image: url("/resources/images/pattern.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: repeat;
    -fx-background-color: #141414;

    /* BORDER SETTINGS */
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-border-color: #292929;
    -fx-effect: innershadow(two-pass-box, #3D3D3D, 1, 0, 0, 1);
    /* -fx-border-color: linear-gradient(to bottom, white 0%, black 100%); */
}

/* SONG INFO */
/*  Unglücklicherweise funktionieren die Imports nicht und
    ebenfalls funktionieren die System Fonts nicht richtig
    da bestimme Ligaturen, Font Style o.Ä. leider nicht direkt
    aus dem System unterstützt werden. */

/* @font-face {
    font-family: 'SF Pro Rounded Regular';
    src: url('../resources/fonts/SF-Pro-Rounded-Regular.otf');
}
@font-face {
    font-family: "SF Pro Rounded Semibold";
    src: url("resources/fonts/SF-Pro-Rounded-Semibold.otf");
} */

.song-title {
    -fx-fill: white;
}

.song-card {
    -fx-background-color: #151515;
    -fx-background-radius: 12;
}
.song-card:hover {
    -fx-background-color: #222222;
    -fx-effect: -effects-button-background-default;
}

.song-card .play-button {
    -fx-background-color: transparent;
    -fx-background-radius: 999;
    -fx-cursor: hand;
}
.song-card .play-button:hover {
    -fx-background-color: #303030;
    -fx-background-radius: 999;
}

.song-list > .viewport, .scroll-pane > .viewport, .scroll-pane .viewport, .song-list {
    -fx-background-color: transparent;
}


