.music-player-controls {
    -fx-background-color: -media-control-bg;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.mainContainer {
    /* -fx-background-image: url("file:src/resources/images/pattern.jpeg"); */
    -fx-background-color: #141414;
    -fx-background-insets: 23, 24;
    -fx-background-radius: 12;
    -fx-background-repeat: none;
    -fx-background-size: contain;
}